<%= content_for :head do %>
  <%= javascript_include_tag "answ_form" %>
<style type="text/css">
  .mycontent{}
</style>

<% end %>

<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Предмет: '+@discipline.title,discipline_path(@discipline),:class=>:actionbutton %>
  <%= link_to 'Тема: '+@theme.title, discipline_theme_path(@discipline,@theme), :class=>"actionbutton" %>
  <%= link_to 'Изменение вопроса', discipline_theme_question_path(@discipline,@theme,@quest),:class=>'actionbutton',:id=>'active' %>
  <%= link_to 'Ответы', {:controller=>:questions,:action=>:answers,:id=>@quest.id,:discipline_id=>@discipline.id,:theme_id=>@theme.id},:class=>'actionbutton' %>
  <%= link_to 'Изображение', {:controller=>:questions,:action=>:picture,:id=>@quest.id,:discipline_id=>@discipline.id,:theme_id=>@theme.id},:class=>'actionbutton',:id=>'active' %>
<% end %>

<p id="notice"><%= notice %></p>
  <h2>
    Просмотр и редактирование вопроса.
  </h2>
  
<% form_for([@discipline,@theme,@quest]) do |f| %>
  
    
      <%= f.label "Формулировка вопроса:" %>
    <br/>
      <%= f.text_area :content,:rows=>10,:style=>"width:99%;"%><br/>
      <%= f.submit("Изменить")  %>

  
<% end %>



      <%= link_to "К списку вопросов",discipline_theme_path(@discipline,@theme),:class=>'actionbutton'%>
   