<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список разделов', disciplines_path,:class=>"actionbutton"%>
  <%= link_to 'Текущий раздел',discipline_path(@discipline),:class=>:actionbutton %>
  <%= link_to 'Редактировать', edit_discipline_path(@discipline),:class=>:actionbutton,:id=>'active' %>
  <%= link_to 'Новая тема', new_discipline_theme_path(@discipline), :class=>"actionbutton" %>
<% end %>


<p id="notice"><%= notice %></p>
<h2>Редактировать название раздела:</h2>
<%= render "form" %>