<%= content_for :head do %>

<style>
	td a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;display: inline;}

</style>
<%end%>

<%= content_for :tabs do %>
<li><%= link_to "Главная", root_url %></li>
<li><%= link_to "Предметы", disciplines_path %></li>
    <li><%= link_to 'Конфигурации',tconfigurations_path %></li>
<li><%= link_to 'Тестирование',{:controller=>:testsessions,:action=>:new} %></li>
<li><%= link_to 'Пользователи',users_url %></li>
<%  end %>

<h1>Disciplines#index</h1>
<p>Find me in app/views/disciplines/index.html.erb</p>
<p id="notice"><%= notice %></p>

<table cellspacing="0" cellpadding="0" >
   <tr>
    <th>Имя</th>
    <th></th>
    
  </tr>

<% @disciplines.each do |disc|%>
  <tr>
    <td>
  <%= disc.title  %></td>
    <td>
       <% if logged_in?%>
      <%= link_to tag("span",{:class=>"ui-icon ui-icon-play"}),new_testsession_url,:class=>"ui-state-default ui-corner-all",:title=>"Начать тестирование" %>
 
  <%= link_to tag("span",{:class=>"ui-icon ui-icon-document"}), disc,:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
 <%  if  current_user.is_admin? %>
    
<%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),disc,:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
<%end%>
  <% end %>
</td></tr>
<%end%>
</table>

<%  if logged_in? && current_user.is_admin? %>
  <%= link_to 'Новая дисциплина', {:controller=>:disciplines, :action=>:new} ,:class=>"actionbutton"%>
<% end %>
<%=link_to 'Назад', :root,:class=>"actionbutton"%>