<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;display: inline;}
        span a.toleft{float: left;text-decoration: none;font-weight: bold;}
        span {display: inline-block; vertical-align: top;}
        .header{padding: 6px 0; text-indent: 1em;}
        .paginate{display: inline-block;width:65%; text-align: right;/* padding: 8px;*/ padding: .5em .2em;}
        .smenu{padding: 0.7em;text-decoration: none; float: left;}
</style>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список разделов', disciplines_path,:class=>"actionbutton",:id=>:active%>
  <%= link_to 'Новый раздел', new_discipline_path, :class=>"actionbutton" %>
<% end %>

<p id="notice"><%= notice %></p>
<div class="paginate" style="float:right;">
  Страница <%= @pagenum %> из <%= @pagecount %>.
  Номера: <%=  link_to '1',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'1'})) if @pagenum>2 %>
  <%=  link_to '2',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'2'})) if @pagenum>3 %>
  <%= '...' if @pagenum>4 %>
  <%=  link_to (@pagenum-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})) if @pagenum>=2 %>
  <%=  link_to (@pagenum).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum)})) %>
  <%=  link_to (@pagenum+1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})) if @pagenum<@pagecount %>
  <%= '...' if @pagenum<@pagecount-3 %>
  <%=  link_to (@pagecount-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})) if @pagenum<@pagecount-2 %>
  <%=  link_to (@pagecount).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})) if @pagenum<@pagecount-1 %>
</div>
<h2>Список Разделов</h2>

<div class="ui-widget" style="width:100%;">
   <div class="ui-widget-header ui-corner-top" >
    <span style="width: 70%; " class="header">Название</span>
    <span class="header"></span>
    
    </div>
<% @class="ui-state-default" %>
<% @disciplines.each do |disc|%>
    <%if @class=="ui-widget-content"%>
      <% @class="ui-state-default" %>
    <%else%>
      <% @class="ui-widget-content" %>
    <%end%>
  <div class="<%=@class%>" >
    <span class="firstcell" style="padding: 6px 0; width: 70%; text-indent: 1em;font-weight: normal; color: black;"><%= link_to disc.title,disc,:class=>"toleft"  %></span>
    <span style=" width: 28%; " class="micon">
       <% if logged_in?%> 
        <%  if  current_user.is_admin? %>
              <%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),disc,:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
              <%= link_to tag("span",{:class=>"ui-icon ui-icon-pencil"}), edit_discipline_path(disc),:class=>"ui-state-default ui-corner-all",:title=>"Редактировать" %>
        <%end%>

        <%= link_to tag("span",{:class=>"ui-icon ui-icon-search"}), disc,:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
       
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-play"}),{:controller=>:tconfigurations, :action=>:fastconf,:id=>1,:th=>disc.themes.map{|i|i.id}},:class=>"ui-state-default ui-corner-all",:title=>"Начать тестирование" %>
      <% end %>
    </span>
  </div>
<%end%>

  <% @class="ui-widget-content" %>

<div class="<%=@class%> ui-corner-bottom" >
<%  if logged_in? && current_user.is_admin? %>
  <%= link_to 'Новый раздел', {:controller=>:disciplines, :action=>:new} ,:class=>"actionbutton"%>
<% end %>
<%=link_to 'Назад', :root,:class=>"actionbutton"%>

<div class="paginate" style="float:right;">
  Страница <%= @pagenum %> из <%= @pagecount %>.
  Номера: <%=  link_to '1',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'1'})) if @pagenum>2 %>
  <%=  link_to '2',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'2'})) if @pagenum>3 %>
  <%= '...' if @pagenum>4 %>
  <%=  link_to (@pagenum-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})) if @pagenum>=2 %>
  <%=  link_to (@pagenum).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum)})) %>
  <%=  link_to (@pagenum+1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})) if @pagenum<@pagecount %>
  <%= '...' if @pagenum<@pagecount-3 %>
  <%=  link_to (@pagecount-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})) if @pagenum<@pagecount-2 %>
  <%=  link_to (@pagecount).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})) if @pagenum<@pagecount-1 %>
</div>
</div>
</div>
<%= render "help" %>
