<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;display: inline;}
        span {display: inline-block; vertical-align: top;}
        .header{padding: 6px 0; text-indent: 1em;}
        .paginate{display: inline-block;width:65%; text-align: right;/* padding: 8px;*/}
</style>
<%end%>

<%= content_for :tabs do %>
<li><%= link_to "Главная", root_url %></li>
<!--<li><%= link_to image_tag("text2985.png"), root_url %></li>-->
<li><%= link_to "Предметы", disciplines_path %></li>
    <li><%= link_to 'Конфигурации',tconfigurations_path %></li>
<li><%= link_to 'Тестирование',{:controller=>:testsessions,:action=>:new} %></li>
<li><%= link_to 'Пользователи',users_url %></li>
<%  end %>
<p id="notice"><%= notice %></p>
<h2>Список дисциплин</h2>
<div class="ui-widget" style="width:100%;">
   <div class="ui-widget-header ui-corner-top" >
    <span style="width: 70%; " class="header">Название</span>
    <span class="header"></span>
    
    </div>
<% @class="ui-state-default" %>
<% @disciplines.each do |disc|%>
    <%if @class=="ui-widget-content"%>
      <% @class="ui-state-default" %>
    <%else%>
      <% @class="ui-widget-content" %>
    <%end%>
  <div class="<%=@class%>" >
    <span class="firstcell" style="padding: 6px 0; width: 70%; text-indent: 1em;font-weight: normal; color: black;"><%= disc.title  %></span>
    <span style=" width: 28%; " >
       <% if logged_in?%> 
        <%  if  current_user.is_admin? %>
          <%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),disc,:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
        <%end%>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-search"}), disc,:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-play"}),new_testsession_url,:class=>"ui-state-default ui-corner-all",:title=>"Начать тестирование" %>
      <% end %>
    </span>
  </div>
<%end%>
<%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
<div class="<%=@class%> ui-corner-bottom" >
<%  if logged_in? && current_user.is_admin? %>
  <%= link_to 'Новая дисциплина', {:controller=>:disciplines, :action=>:new} ,:class=>"actionbutton"%>
<% end %>
<%=link_to 'Назад', :root,:class=>"actionbutton"%>

<div class="paginate" style="float:right;">
  Страница <%= @pagenum %> из <%= @pagecount %>.
  Номера: <%=  link_to '1',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'1'})),:class=>:actionbutton if @pagenum>2 %>
  <%=  link_to '2',{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>'2'})),:class=>:actionbutton if @pagenum>3 %>
  <%= '...' if @pagenum>4 %>
  <%=  link_to (@pagenum-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})),:class=>:actionbutton if @pagenum>=2 %>
  <%=  link_to (@pagenum).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum)})),:class=>:actionbutton %>
  <%=  link_to (@pagenum+1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})),:class=>:actionbutton if @pagenum<@pagecount %>
  <%= '...' if @pagenum<@pagecount-3 %>
  <%=  link_to (@pagecount-1).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})),:class=>:actionbutton if @pagenum<@pagecount-2 %>
  <%=  link_to (@pagecount).to_s,{:controller=>:disciplines,:action=>:index}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})),:class=>:actionbutton if @pagenum<@pagecount-1 %>
</div>
</div>
</div>