<%= content_for :head do %>

<style>
	a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;display: inline;}

</style>
<%end%>
<%= content_for :menu  do%>
<ul>
      <li><%=link_to 'Главная',:root%></li>
      <li>|&nbsp;Вторая</li>
      <li>|&nbsp;Третья</li>
      <li><%= render :partial =>"users/user_bar" %></li>
    </ul>
<% end %>
<h1>Disciplines#index</h1>
<p>Find me in app/views/disciplines/index.html.erb</p>
<p id="notice"><%= notice %></p>
<table>
<% @disciplines.each do |disc|%>
  <tr>
    <td>
  <%= disc.title  %></td>
    <td>
  <%= link_to tag("span",{:class=>"ui-icon ui-icon-document"}), disc,:class=>"ui-state-default ui-corner-all",:title=>"Показать" %></td>
  <%  if logged_in? && current_user.is_admin? %>
    <td>
<%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),disc,:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %></td>
</tr>
  <% end %>
<%end%>
</table>

<%  if logged_in? && current_user.is_admin? %>
  <%= link_to 'Новая дисциплина', :controller=>:disciplines, :action=>:new ,:class=>"actionbutton"%>
<% end %>
<br/><%=link_to 'Назад', :root,:class=>"actionbutton"%>