<p id="notice"><%= notice %></p>
<h2>Создать новую дисциплину:</h2>
<%form_for @discipline do |f|%>

  <%= f.error_messages :header_message=>"Ошибка при создании дисциплины",
    :message=>"Обнаружены следующие ошибки:" %>
  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать'%>
  </div>
<% end %>