<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список Разделов', disciplines_path,:class=>"actionbutton"%>
  <%= link_to 'Новый раздел', new_discipline_path, :class=>"actionbutton",:id=>:active %>
<% end %>


<p id="notice"><%= notice %></p>
<h2>Создать новый Раздел:</h2>
<%form_for @discipline do |f|%>

  <%= f.error_messages :header_message=>"Ошибка при создании Раздела",
    :message=>"Обнаружены следующие ошибки:" %>
  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать'%>
  </div>
<% end %>