<h1>Disciplines#new</h1>
<p>Find me in app/views/disciplines/new.html.erb</p>

<p id="notice"><%= notice %></p>

<%form_for @discipline do |f|%>

  <%= f.error_messages :header_message=>"Ошибка при создании дисциплины",
    :message=>"Обнаружены следующие ошибки:" %>
  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>