<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список разделов', disciplines_path,:class=>"actionbutton"%>
  <%= link_to 'Новый раздел', new_discipline_path, :class=>"actionbutton",:id=>:active %>
<% end %>


<p id="notice"><%= notice %></p>
<h2>Создать новый раздел:</h2>
<%= render "form" %>
<%= render "help" %>