<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float:right;  list-style: none;display: inline;}
        .mycell{display:inline-block; vertical-align: top; color: black; font-weight: normal;  word-wrap: break-word;}
         .header{padding: 6px 0; text-indent: 1em;}
</style>
<%end%>
<%= content_for :tabs do %>
<li><%= link_to "Главная", root_url %></li>
<li><%= link_to "Предметы", disciplines_path %></li>
    <li><%= link_to 'Конфигурации',tconfigurations_path %></li>
<li><%= link_to 'Тестирование',{:controller=>:testsessions,:action=>:new} %></li>
<li><%= link_to 'Пользователи',users_url %></li>
<%  end %>

<p id="notice"><%= notice %></p>
<h2><%= @discipline.title %></h2>

<div class="ui-widget" style="width:50%;">
   <div class="ui-widget-header ui-corner-top" >
      <span style="width: 70%; " class="header mycell">Название раздела</span>
      <span class="header mycell"></span>
   </div>

<% @class="ui-state-default" %>

<% @discipline.themes.each do |t| %>
    <%if @class=="ui-widget-content"%>
      <% @class="ui-state-default" %>
    <%else%>
      <% @class="ui-widget-content" %>
    <%end%>

  <div class="<%=@class%>" >
    <span class="mycell" style="padding: 6px 0; width: 70%; text-indent: 1em;font-weight: normal; color: black;">
      <%= t.title %>
    </span>
    <span class="mycell" style=" width: 28%; " >
   <% if logged_in?%>
      <% if  current_user.is_admin? %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),discipline_theme_url(@discipline,t),:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-document"}),discipline_theme_url(@discipline,t),:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
      <%end%>
       <%= link_to tag("span",{:class=>"ui-icon ui-icon-play"}),new_testsession_url,:class=>"ui-state-default ui-corner-all",:title=>"Начать тестирование" %>
  <%end%>
    </span>
  </div>

<%end%>

<%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
  <div class="<%=@class%> ui-corner-bottom" >
    <%  if logged_in? && current_user.is_admin? %>
      <%= link_to 'Новая тема',new_discipline_theme_url(@discipline),:class=>'actionbutton' %>
    <% end %>
    <%= link_to 'Назад', disciplines_path ,:class=>'actionbutton'%>
  </div>
</div>