<%= form_for(@tconfiguration) do |f| %>
  <% if @tconfiguration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tconfiguration.errors.count, "error") %> prohibited this tconfiguration from being saved:</h2>

      <ul>
      <% @tconfiguration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Имя' %><br />
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label "Темы для теста (для выбора нескольких тем нажмите и удерживайте Ctrl)"%><br/>
    <%  if @themes %>
    <%= select_tag("themes[]", options_for_select(@themes,),:multiple=>"true",:size=>"8")  %>
    <%end%>
  </div>

  <div class="field">
    <%= f.label 'Тип конфигурации' %><br />
    <%= f.collection_select(:configuration_type_id,ConfigurationType.all,:id,:Name) %>&nbsp;
    <%= link_to 'Создать',new_configuration_type_path,:class=>'actionbutton' %>
  
  </div>
  <div class="field">
    <%= f.label 'Количество закрытых вопросов' %><br />
    <%= f.text_field :qT1Count %>
  </div>
  <div class="field">
    <%= f.label 'Количество вопросов с множественным выбором' %><br />
    <%= f.text_field :qT2Count %>
  </div>
  <div class="field">
    <%= f.label 'Количество открытых вопросов' %><br />
    <%= f.text_field :qT3Count %>
  </div>
  <div class="field">
    <%= f.label 'Количество вопросов на соотвествие' %><br />
    <%= f.text_field :qT4Count %>
  </div>
  <div class="field">
    <%= f.label 'Количество вопросов на упорядочивание' %><br />
    <%= f.text_field :qT5Count %>
  </div>
  <div class="field">
    <%= f.label '% на 3' %><br />
    <%= f.text_field :degree3 %>
  </div>
  <div class="field">
    <%= f.label '% на 4' %><br />
    <%= f.text_field :degree4 %>
  </div>
  <div class="field">
    <%= f.label '% на 5' %><br />
    <%= f.text_field :degree5 %>
  </div>
  <div class="field">
    <%= f.label 'Время на тест' %><br />
  
    <%= f.time_select "TestTime", :include_seconds => true,:default=>DateTime.parse("00:30:00"), :minute_step => 5  %>
  </div>
  <div class="actions">
    <%= f.submit "Создать"%>
  </div>
<% end %>
