<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список', tconfigurations_url,:class=>"actionbutton"%>
  <%= link_to 'Создать', new_tconfiguration_path,:class=>"actionbutton" %>
  <%= link_to 'Редактировать', edit_tconfiguration_path(@tconfiguration),:class=>"actionbutton",:id=>:active %>
<%end%>


<h1>Изменение конфигурации</h1>

<%= render 'form' %>



<%= link_to 'Показать', @tconfiguration,:class=>'actionbutton' %>
<%= link_to 'Назад', tconfigurations_path,:class=>'actionbutton' %>
