<p id="notice"><%= notice %></p>
<h2>Просмотр конфигурации: </h2>
<div class="ui-widget ui-widget-content ui-corner-all">
  <table cellpadding="10">
<tr>
  <td><b>Название:</b></td>
  <td><%= @tconfiguration.Name %></td>
</tr>

<tr>
  <td><b>Тип:</b></td>
  <td><%= @tconfiguration.configuration_type.Name %></td>
</tr>

<tr>
  <td><b>Количество вопросов
<% unless @tconfiguration.configuration_type_id==@ctypes[@simpleconf] %>
      с одним правильным вариантом ответа:
<% end %>
    </b></td>
  <td><%= @tconfiguration.qT1Count %></td>
</tr>
<% unless @tconfiguration.configuration_type_id==@ctypes[@simpleconf] %>
<tr>
  <td><b>Количество вопросов с несколькими правильными вариантами ответа:</b></td>
  <td><%= @tconfiguration.qT2Count %></td>
</tr>

<tr>
  <td><b>Количество вопросов без предлагаемых вариантов оответа:</b></td>
  <td><%= @tconfiguration.qT3Count %></td>
</tr>

<tr>
  <td><b>Количество вопросов на упорядочивание:</b></td>
  <td><%= @tconfiguration.qT4Count %></td>
</tr>

<tr>
  <td><b>Количество вопросов на соотношение:</b></td>
  <td><%= @tconfiguration.qT5Count %></td>
</tr>
<% end %>
<tr>
  <td><b> Минимальный процент правильных ответов для получения оценки 3 (зачет):</b></td>
  <td><%= @tconfiguration.degree3 %></td>
</tr>

<tr>
  <td><b>Минимальный процент правильных ответов для получения оценки 4:</b></td>
  <td><%= @tconfiguration.degree4 %></td>
</tr>

<tr>
  <td><b>Минимальный процент правильных ответов для получения оценки 5:</b></td>
  <td><%= @tconfiguration.degree5 %></td>
</tr>

<tr>
  <td><b>Время на тест:</b></td>
  <td><%= @tconfiguration.TestTime.strftime('%H:%M:%S') %></td>
</tr>
</table>

<%= link_to 'Изменить', edit_tconfiguration_path(@tconfiguration),:class=>'actionbutton' %>
<%= link_to 'Назад', tconfigurations_path,:class=>'actionbutton' %>
</div>