<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tconfiguration.Name %>
</p>

<p>
  <b>Conftype:</b>
  <%= @tconfiguration.configuration_type.Name %>
</p>

<p>
  <b>Qt1count:</b>
  <%= @tconfiguration.qT1Count %>
</p>

<p>
  <b>Qt2count:</b>
  <%= @tconfiguration.qT2Count %>
</p>

<p>
  <b>Qt3count:</b>
  <%= @tconfiguration.qT3Count %>
</p>

<p>
  <b>Qt4count:</b>
  <%= @tconfiguration.qT4Count %>
</p>

<p>
  <b>Qt5count:</b>
  <%= @tconfiguration.qT5Count %>
</p>

<p>
  <b>Degree3:</b>
  <%= @tconfiguration.degree3 %>
</p>

<p>
  <b>Degree4:</b>
  <%= @tconfiguration.degree4 %>
</p>

<p>
  <b>Degree5:</b>
  <%= @tconfiguration.degree5 %>
</p>

<p>
  <b>Testtime:</b>
  <%= @tconfiguration.TestTime %>
</p>


<%= link_to 'Edit', edit_tconfiguration_path(@tconfiguration),:class=>'actionbutton' %> 
<%= link_to 'Back', tconfigurations_path,:class=>'actionbutton' %>
