<h1>Themes#new</h1>
<p>Find me in app/views/themes/new.html.erb</p>

<% form_for([@discipline, @theme]) do |f| %>
  <%= f.error_messages %>
<p>
<%= f.label :title %>
  <br />
<%= f.text_field :title %>
</p>
<p>
<%= f.submit "Создать" %>
</p>
<% end %>

<%= link_to 'Назад', discipline_path(@discipline) %>