<h2>Создать новую тему</h2>

<% form_for([@discipline, @theme]) do |f| %>
  <%= f.error_messages %>
<p>
<%= f.label "Название" %>
  <br />
<%= f.text_field :title %>
</p>
<p>
<%= f.submit "Создать" %>
</p>
<% end %>

<%= link_to 'Назад', discipline_path(@discipline),:class=>'actionbutton' %>