<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Список разделов', disciplines_path,:class=>"actionbutton"%>
  <%= link_to 'Текущий раздел',discipline_path(@discipline),:class=>:actionbutton %>
  <%= link_to 'Новая тема', new_discipline_theme_path(@discipline), :class=>"actionbutton",:id=>'active' %>
<% end %>
<h2>Раздел: <%=@discipline.title%></h2>
<h2>Создать новую тему</h2>
<%= render "form" %>
<%= link_to 'Назад', discipline_path(@discipline),:class=>'actionbutton' %>
<%= render :partial=>"disciplines/help" %>