<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;display: inline;}
        .mycell{display:inline-block; vertical-align: top; color: black; font-weight: normal;  word-wrap: break-word;}
        .header{padding: 6px 0; text-indent: 1em;}
        .paginate{display: inline-block;width:65%; text-align: right;/* padding: 8px;*/}
</style>
<%end%>

<%= content_for :tabs do %>
<li><%= link_to "Главная", root_url %></li>
<li><%= link_to "Предметы", disciplines_path %></li>
    <li><%= link_to 'Конфигурации',tconfigurations_path %></li>
<li><%= link_to 'Тестирование',{:controller=>:testsessions,:action=>:new} %></li>
<li><%= link_to 'Пользователи',users_url %></li>
<%  end %>

<p id="notice"><%= notice %></p>
<h2><%= @theme.title %></h2>

<% @qtypes=Qtype.all %>
<% @c=6 %>
<div class="ui-widget" style="width:100%;">
   <div class="ui-widget-header ui-corner-top" >
      <span style="width: 40%; " class="header mycell">Формулировка вопорса</span>
      <span style="width: 40%; " class="header mycell">Тип</span>
      <span class="header mycell"></span>
   </div>
<% @class="ui-state-default" %>
<% @questions.each do |t| %>
  <%if @class=="ui-widget-content"%>
        <% @class="ui-state-default" %>
  <%else%>
        <% @class="ui-widget-content" %>
  <%end%>
  <div class="<%=@class%>" >
    <span class="mycell" style="padding: 6px 0; width: 40%; text-indent: 1em;font-weight: normal; color: black;">
      <%=t.content%>
    </span>
    <span class="mycell" style="padding: 6px 0; width: 40%; text-indent: 1em;font-weight: normal; color: black;">
      <%=  @qtypes[t.qtype_id-@c].title %>
    </span>
    <span class="mycell" style="width: 18%;">
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),discipline_theme_question_url(@discipline,@theme,t),:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-search"}),discipline_theme_question_path(@discipline,@theme,t),:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
    </span>
  </div>
<% end %>

<%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
  <div class="<%=@class%> ui-corner-bottom" >
    <%= link_to 'Создать вопрос', new_discipline_theme_question_path(@discipline,@theme),:class=>'actionbutton' %>
    <%= link_to 'Назад', discipline_path(@discipline),:class=>'actionbutton' %>
    <div class="paginate" style="float:right;">
      Страница <%= @pagenum %> из <%= @pagecount %>.
      Номера: <%=  link_to '1',{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>'1'})),:class=>:actionbutton if @pagenum>2 %>
      <%=  link_to '2',{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>'2'})),:class=>:actionbutton if @pagenum>3 %>
      <%= '...' if @pagenum>4 %>
      <%=  link_to (@pagenum-1).to_s,{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})),:class=>:actionbutton if @pagenum>=2 %>
      <%=  link_to (@pagenum).to_s,{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>(@pagenum)})),:class=>:actionbutton %>
      <%=  link_to (@pagenum+1).to_s,{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})),:class=>:actionbutton if @pagenum<@pagecount %>
      <%= '...' if @pagenum<@pagecount-3 %>
      <%=  link_to (@pagecount-1).to_s,{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})),:class=>:actionbutton if @pagenum<@pagecount-2 %>
      <%=  link_to (@pagecount).to_s,{:controller=>:themes,:action=>:show}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})),:class=>:actionbutton if @pagenum<@pagecount-1 %>
    </div>
  </div>
</div>



