<%= form_for :@testsession do |f| %>
<% if @tconfiguration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tconfiguration.errors.count, "error") %> prohibited this tconfiguration from being saved:</h2>

      <ul>
      <% @tconfiguration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label 'q' %><br />
    <%= f.collection_select (:tconfiguration_id)#,Tconfiguration.all,:id,:Name) %>
  </div>

 <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
