<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<%= content_for :head do %>
<style type="text/css">
  .myicon{display: inline-block; padding: .2em;}
  .icondiv{display: inline-block; text-indent: 0px; }
  .attention{color: orangered;}
</style>
<% end %>




<div id="help" title="Помощь: тестирование">
  <div style="text-align: justify">
    <h2>Начало тестирования</h2>
    <div style="text-indent: 1em;">
      Для начала тестирования выберите тест из списка и нажмите кнопку "Начать тестирование".
    </div><br/>
    <h2>Вопросы</h2>
    <div style="text-indent: 1em;">
      По ходу тестирования вам могут встретиться вопросы 5 видов. <b class="attention">После выбора ответа на вопрос необходимо нажать кнопку "Подтвердить", в противном случае вопрос не будет засчитан как отвеченный. Вы сможете вернуться 
        и изменить вариант ответа на вопрос в любой момент во время тестирования, даже
      если вы уже подтверждали ответ на него. Ответом пользователя считается последний подтвержденный.
      </b> Далее подробнее о каждом из типов вопросов.<br/><br/>
      <h3> Вопрос с одним правильным вариантом ответа.</h3>
      <div>
        Если рядом с вариантами ответа стоят радиокнопки <input type="radio"/>,
        то на этот вопрос есть только один правильный вариант ответа.
        Вам необходимо выбрать его щелчком мыши по радиокнопке
        (она примет вид <input type="radio" checked/>).
      </div><br/>

      <h3> Вопрос с несколькими правильными вариантами ответа.</h3>
      <div>
        Если рядом с вариантами ответа стоят флажки <input type="checkbox"/>,
        то на этот вопрос есть несколько правильных вариантов ответа (ноль, один или более).
        Вам необходимо выбрать правильные ответы щелчком мыши по флажкам
        (они примут вид <input type="checkbox" checked/>).
      </div><br/>
      <h3> Вопрос без предлагаемых вариантов ответа.</h3>
      <div>
        Если ответ на вопрос предлагается ввести в текстовое поле <input type="text"/>,
        то это вопрос без предлагаемых вариантов ответа. Как правило ответом на
        него является слово или число. Регистр букв не имеет значения.
        <b class="attention">Не ставьте побелов в текстовое поле,
          если об этом не указано в задании явно. Помните что "закон" и "закон "
          - это разные слова с точки зрения оценивающей системы.
        </b>
      </div><br/>
      <h3> Вопрос на упорядочивание.</h3>
      <div>
        Если варианты ответов имеют вид <br/>
        <div><%= image_tag '/images/order1.png', :style=>"width:100%;" %></div>
         - это вопрос на упорядочивание. Упорядочить варианты ответа можно путем их перетаскивания
         (зажать левую кнопку мыши над перетаскиваемым вариантом ответа, перетащить вариант ответа, не отпуская кнопку мыши,
         отпустить кнопку мыши). На рисунке изображен процесс перетаскивания.
         <div><%= image_tag '/images/order2.png', :style=>"width:100%;" %></div>
      </div><br/>
      <h3> Вопрос на соотношение.</h3>
      <div>
        Если варианты ответов имеют вид <br/>
        <div><%= image_tag '/images/sootn1.png', :style=>"width:100%;" %></div>
         - это вопрос на соотношение. Необходимо соотнести варианты ответов в левой и правой частях.
         Для этого необходимо варианты из ПРАВОЙ части перенести на соответствующие им варианты из левой части.
         (зажать левую кнопку мыши над перетаскиваемым вариантом ответа, перетащить вариант ответа, не отпуская кнопку мыши,
         отпустить кнопку мыши). После перетаскивания варианты ответа принимают вид.
         <div><%= image_tag '/images/sootn2.png', :style=>"width:100%;" %></div>
         <b class="attention"> Варианту из левой части может соответсвовать не более одного варианта
           из правой части
           (это означает также, что варианту ответа одной части
           может НЕ соответствовать ни один вариант из другой части).
         </b>
      </div>
    </div>
    <h2>Панель задач</h2>
    <div style="text-indent: 1em;">
      В нижней части экрана расположена панель задач. На ней можно посмотреть оставшееся время на тест,
      перейти к любому вопросу по его номеру и завершить тест.<b class="attention"> Внимание! Завершив тест, вы не сможете вернуться к нему и исправить ответы, даже если у вас еще осталось время.</b>
    </div>
    <div style="text-indent: 1em;">
      Внешний вид номера вопроса означает:
      <ul style="list-style-type: none;">
        <li>
          <%=  image_tag '/images/question0.png',:style=>"display: inline-block; width: 40px;"%>
          - текущий вопрос.
        </li>
        <li>
          <%=  image_tag '/images/question1.png',:style=>"display: inline-block; width: 40px;"%>
          - вопрос, на который уже был дан ответ.
        </li>
        <li>
          <%=  image_tag '/images/question2.png',:style=>"display: inline-block; width: 40px;"%>
          - вопрос, на который еще не был дан ответ.
        </li>
      </ul>
    </div>
    <h2>Завершение тестирования</h2>
    <div style="text-indent: 1em;">
      Тестирование завершается когда пользователь нажмет кнопку "Завершить"
      или когда заканчивается время, отведенное на тест.
      После завершения тестирования предоставляется отчет, в котором будет присутствовать процент выполнения заданий и оценки по системе "зачет/незачет" и
      по четырехбалльной шкале (2, 3, 4, 5).
      Вопросы, на которые были даны неправильные ответы, будут помечены красным цветом.
      Также можно будет просмотреть подробный отчет по тесту с правильными вариантами ответов, нажав на кнопку "Подробный отчет".
    </div>
  </div>
</div>
