<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

Тест завершен<br/>
Здесь будет отчет о тесте.


<%= @percent.to_i.to_s %>
<%= @questions.length %>

<br/>
<div id='accordion'>
<% 0.upto(@tests.length-1) do |i| %>
  <div><h3><a href="#">
  <%= (i+1).to_s %>.

  <%= @questions[i].content %></a></h3>
    <div>
  <%= @rights[i]  %></div>
  </div>
<% end %>
</div>