<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>Тест завершен</h2>
<br/>
<h4>Выполнено:&nbsp;
<%= @percent.to_i.to_s %>&nbsp;%</h4>

<h4>Оценка: &nbsp;
<%= @questions.length %>
</h4>
<h4>Результат: &nbsp;
  <% if @questions.length>2 %>
  Зачтено
  <%else%>
    Не зачтено
  <%end%>
</h4>

<br/>

<% 0.upto(@tests.length-1) do |i| %>
  <div>
    
     <% if @rights[i]=='+' %>
  <div class="ui-widget-header ui-corner-all">
    <% else %>
     <div class="ui-widget-header ui-corner-all ui-state-error">
    <%end %>
        
  <%= (i+1).to_s %>.

  <%= @questions[i].content %></div>
 
  
  </div>
<% end %>
    <% if current_user.is_admin?  %>
    <p>
 <%=  link_to 'Подробный отчет',{:controller=>:report,:action=>'createdetailreport',:userid=>current_user.id,:id=>@ts},:class=>'actionbutton' %>
      </p>
    <%end%>

