<h1>Testsessions#index</h1>
<p>Find me in app/views/testsessions/index.html.erb</p>


<table>
  <tr>
    <th>Юзер</th>
    <th>Тип конфигурации</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testsessions.each do |tc| %>
  <tr>
    <td><%= tc.users.login %></td>
    <td><%= tc.tconfigurations.Name %></td>
    <td><%= link_to 'Show', tc %></td>
    <td><%= link_to 'Edit', :controller=> testsession,:action=>'Edit',:id=>tc.id %></td>
    <td><%= link_to 'Destroy', tc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create', :controller=> testsessions,:action=>'New' %>
