<% content_for :head do %>
<script type="text/javascript">
  $(function() {

  var hour=<%=@hour.to_s%>;
  var min=<%=@min.to_s%>;
  var sec=<%=@sec.to_s%>;
  var timeflag=true;
  setInterval(function(){
    if(timeflag){
    $("#timer").empty();
    sec-=1;
    if(sec==-1){
      min-=1;
      sec=59;
      if(min==-1){
        min=59;
        hour-=1;
      }
      if(hour==0&&min==0&&sec==0){
        timeflag=false;
      }
    }
    var s="";
     if(hour<10){
       s=s+"0";
     }
     s=s+hour+":";
     if(min<10){
       s=s+"0";
     }
     s=s+min+":";
     if(sec<10){
       s=s+"0";
     }
     s=s+sec;
    $("#timer").append(s);
  }
  },1000);
});

</script>
<%end%>

<h1>Testsessions#show</h1>
<p>Find me in app/views/testsessions/show.html.erb</p>
<div id="timer">
</div>

<%unless @end%>
  <div>
  <%= @question.content %>
  </div>
  <div>
  <%if @question.pictures.any?%>
    <%@pic=@question.pictures[0]%>
    <%= image_tag(@pic.pict_url) %>
  <%end%>
  </div>
  <%=  form_tag({:controller=>:testsessions,:action=>:check, :num=>(@num+1).to_s, :id=>@ts.id},:method=>:post) do%>
  <% if  @question.qtype_id == 6 %>
    <% 0.upto(@a_count-1) do |i| %>
      <%= radio_button_tag :answ,i.to_s,i==@ua.to_i %>
      <%= @answers[@answorder[i]].content %><br/>
    <% end %>
  <%end%>

  <% if  @question.qtype_id == 7 %>
    <% 0.upto(@a_count-1) do |i| %>
      <%= check_box_tag "answ[#{i}]","1",@ua[i] %>
      <%= @answers[@answorder[i]].content %><br/>
    <% end %>
  <%end%>

  <% if  @question.qtype_id == 8 %>
    Ваш ответ:<br/>
    <%= text_field_tag :answ,@ua %><br/>
  <%end%>

  <% if @question.qtype_id == 9 %>
    <div id="answcolumn1">
      <% 0.upto(@a1_count-1) do |i| %>
        <%= (i+1).to_s %>.
        <%= @answers[@answorder1[i]].content %><br/>
      <% end %>
    </div>
    <div id="answcolumn2">
     <% 0.upto(@a2_count-1) do |i| %>
        <%= text_field_tag "answ[#{i}]",@ua[i] %>.
        <%= @answers[@answorder2[i]].content %><br/>
      <% end %>
    </div>

  <% end  %>


  <% if  @question.qtype_id == 10 %>
    <% 0.upto(@a_count-1) do |i| %>
      <%= text_field_tag "answ[#{i}]",@ua[i] %>
      <%= @answers[@answorder[i]].content%><br/>
    <% end %>
  <%end%>


  <%= submit_tag "Подтвердить" %>
  <%end%>
<% else %>
      <div>
        Вы можете вернуться к предыдущим впоросам или завершить тестирование.
      </div>
  <%= form_tag({ :controller => :testsessions, :action => :complete, :id=>@ts.id.to_s }, :method=>:post) do %>
      <%= submit_tag "Завершить" %>
  <% end %>

<%end%>
<br/>
Список вопросов:<br/>
<div class="answlist">
<%1.upto(@count) do |i|%>
  <%= link_to((i).to_s,{ :controller => :testsessions, :action => :show, :id=>@ts.id.to_s, :num=>(i).to_s }) %>
  <%if @has_answer[i] %>
    +
  <%else%>
    -
  <%end%>
<%end%>

</div>