<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;display: inline;}
        .mycell{display:inline-block; vertical-align: top; color: black; font-weight: normal;  word-wrap: break-word;}
        .header{padding: 6px 0; text-align: center;}

</style>
<%end%>


<h2>Список пользователей</h2>
<p>
  Консоль управления пользователями. Вы можете назначать/удалять администраторов ресурса, а так же удалять пользователей
</p>

<div class="ui-widget" style="width:100%;">
  <div class="ui-widget-header ui-corner-top" >
  <span style="width: 11%; " class="header mycell">Логин</span>
  <span style="width: 11%; " class="header mycell">Имя</span>
  <span style="width: 11%; " class="header mycell">Фамилия</span>
  <span style="width: 11%; " class="header mycell">Отчество</span>
   <span style="width: 11%; " class="header mycell">Место работы</span>
   <span style="width: 11%; " class="header mycell">Должность</span>
   <span style="width: 11%; " class="header mycell">Роли</span>
   
   <span style="width: 19%; " class="header mycell"></span>
  </div>
<% @class="ui-state-default" %>
<% @us.each do |u| %>
    <%if @class=="ui-widget-content"%>
      <% @class="ui-state-default" %>
    <%else%>
      <% @class="ui-widget-content" %>
    <%end%>
  <div class="<%=@class%>" >
    <span class="mycell" style="width:11%;text-indent: 1em;"><%= u.login%></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.I %></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.F %></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.O %></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.workplace %></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.proff %></span>
    <span class="mycell" style="width:11%;text-indent: 1em;"><%=u.roles %></span>
    <span class="mycell" style="width:19%;">
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}),u,:confirm =>'Вы уверены', :method=>:delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"  %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:users,:action=>:listsessions,:id=>u},:class=>'ui-state-default ui-corner-all',:title=>'Отобразить сессии пользователя' %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-folder-open"}),edit_user_path(u),:class=>"ui-state-default ui-corner-all",:title=>"Редактировать" %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-minusthick"}),{ :controller=>'Users',:action=>'deladmin',:id=>u.id},:class=>"ui-state-default ui-corner-all",:title=>"Удалить роль" %>
        <%= link_to tag("span",{:class=>"ui-icon ui-icon-plusthick"}),{ :controller=>'Users',:action=>'newadmin',:id=>u.id},:class=>"ui-state-default ui-corner-all",:title=>"Добавить роль" %>
    </span>

  </div>

<%end%>

  <%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
  <div class="<%=@class%> ui-corner-bottom" style="padding:2px 5px;">
    <%= link_to 'Регистрация', :signup,:class=>"actionbutton" %>
  </div>
</div>

