<%= content_for :head do %>

<style>
	td a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;display: inline;}
        span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float:right;  list-style: none;display: inline;}
<<<<<<< HEAD
        .mycell{display:inline-block; vertical-align: top; color: black; font-weight: normal;  word-wrap: break-word;font-size: small;}
         .header{padding: 6px 0; text-indent: 1em;}
         .paginate{display: inline-block;width:65%; text-align: right;/* padding: 8px;*/}
=======
        .mycell{display:inline-block; vertical-align: top;  word-wrap: break-word; text-indent: 0px;}
        .header{padding: 6px .5em; text-indent: 0em;}
        .paginate{display: inline-block;width:80%; text-align: right;/* padding: 8px;*/}
>>>>>>> 74f0f1c4823abd6fe6b2c979d604f9b3085531cf
</style>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>
  <%= link_to 'Простой поиск', {:controller=>:report,:action=>:new_report},:class=>"actionbutton"%>
  <% if current_user.is_admin? %>
    <%= link_to 'Сессии пользователя', {:controller=>:users,:action=>:listsessions,:id=>params[:id]},:class=>"actionbutton",:id=>:active%>
  <% else %>
    <%= link_to 'Пройденные тесты',{:controller=>:users,:action=>:listsessions,:id=>current_user.id},:class=>'actionbutton',:title=>'Отобразить сессии пользователя',:id=>:active %>
  <% end %>
<%end%>
<h4>Список тестов, в которых участвовал пользователь</h4>
<div class="ui-widget" style="width:100%;">
  <div class="ui-widget-header ui-corner-top" >
  <span style="width: 8%; " class="header mycell">#</span>
  <span style="width: 18%; " class="header mycell">Дата начала</span>
  <span style="width: 18%; " class="header mycell">Тест</span>
  <span style="width: 18%; " class="header mycell">Оценка</span>
  <span style="width: 18%; " class="header mycell">Завершено</span>
  <span style="width: 18%; " class="header mycell"></span>
  </div>
  <% num=(@pagenum-1)*@perpage %>
  <% @class="ui-state-default" %>



  <%  @sessions.each do |i|  %>

    <%if @class=="ui-widget-content"%>
      <% @class="ui-state-default" %>
    <%else%>
      <% @class="ui-widget-content" %>
    <%end%>
  <div class="<%=@class%>" >
    <span style="width: 8%; " class="header mycell"><%=num=num+1%></span>
    <span style="width: 18%; " class="header mycell"><%=i.created_at.strftime('%H:%M:%S ') %><b><%=i.created_at.strftime(' (%d/%m/%y)') %></b></span>
<<<<<<< HEAD
    <span style="width: 18%; " class="header mycell"><%=i.tconfiguration_id%></span>
    <span style="width: 18%; " class="header mycell"><%=i.mark%></span>
    <span style="width: 18%; " class="header mycell">
<% if i.completed? %>Да</span>
    
      <span style="width: 18%;" class='header mycell' ><%=link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:report,:action=>:createdetailreport,:userid=>@us,:id=>i.id},:class=>'ui-state-default ui-corner-all',:title=>'Отчет'%></span>
      <%else%> Нет     
   
    <!-- TODO: Редирект к тестированию, если тест еще не завершен.(продолжение сессии)-->

    <span style="width: 18%;" class='header mycell' ><%=link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:testessions,:action=>:show,:num=>1,:id=>i.id},:class=>'ui-state-default ui-corner-all',:title=>'Продолжить'%></span>
     </span>
  <%end%>
=======
    <span style="width: 18%; " class="header mycell"><%=@confs[i.tconfiguration_id]%></span>
    <span style="width: 18%; " class="header mycell"><%=  i.mark %>,
    <% if i.mark && i.mark>2 %>
      <%= 'зачтено, ' %>
    <% else %>
      <%= 'не зачтено, ' %>
    <% end %>
      <%= ((i.percent*100).to_i.to_f/100.00).to_s+"%" if i.percent%>%
    </span>
    <span style="width: 18%; " class="header mycell">

  <% if i.completed? %>
      Да</span>
      <span style="width: 18%; " class="micon" ><%=  link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:report,:action=>:createdetailreport,:userid=>@us,:id=>i.id},:class=>'ui-state-default ui-corner-all',:title=>'Отчет' %></span>
      <%  else %>
      Нет
     
    </span>
    <!-- TODO: Редирект к тестированию, если тест еще не завершен.(продолжение сессии)-->
    <span style="width: 18%; " class="micon"><%=link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:testessions,:action=>:show,:num=>1,:id=>i.id},:class=>'ui-state-default ui-corner-all',:title=>'Продолжить'%></span>
  <%  end %>
>>>>>>> 74f0f1c4823abd6fe6b2c979d604f9b3085531cf
  </div>
  <%end%>

  <% @class="ui-widget-content" %>

<div class="<%=@class%> ui-corner-bottom" >
<%= link_to 'Назад',user_path(@us),:class=>'actionbutton' %>

    <div class="paginate" style="float:right; vertical-align: middle; padding: .5em 0px;">
      Страница <%= @pagenum %> из <%= @pagecount %>.
      Номера: <%=  link_to '1',{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>'1'})) if @pagenum>2 %>
      <%=  link_to '2',{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>'2'})) if @pagenum>3 %>
      <%= '...' if @pagenum>4 %>
      <%=  link_to (@pagenum-1).to_s,{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})) if @pagenum>=2 %>
      <%=  link_to (@pagenum).to_s,{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>(@pagenum)})) %>
      <%=  link_to (@pagenum+1).to_s,{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})) if @pagenum<@pagecount %>
      <%= '...' if @pagenum<@pagecount-3 %>
      <%=  link_to (@pagecount-1).to_s,{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})) if @pagenum<@pagecount-2 %>
      <%=  link_to (@pagecount).to_s,{:controller=>:users,:action=>:listsessions}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})) if @pagenum<@pagecount-1 %>
    </div>
</div>
</div>
