

<%= content_for :tabs do %>
<li><%= link_to "Предметы", disciplines_path %></li>
<li><%= link_to 'Конфигурации',tconfigurations_path %></li>
<li><%= link_to 'Тестирование',{:controller=>:testsessions,:action=>:new} %></li>
<%  end %>

<h1>Тестирующая система MEGA v 0.1.5</h1><br/>
<p>Find me in app/views/home/index.html.erb</p>
<div class="base">
<% if logged_in? %>
	Добро пожаловать, <%= current_user.login %>.
	<% if current_user.is_admin? %>
        <sup>(admin)</sup>
        <p>
          Для навигации по сайту используйте меню.
        </p>
	<% end %>
        <br/><%= link_to 'Выйти',:logout,:class=>'actionbutton' %><br/>
        <!--
        <%= link_to "Предметы", disciplines_path,:class=>'actionbutton' %>&nbsp
        <%= link_to 'Конфигурации тестов',tconfigurations_path,:class=>'actionbutton' %>
        <%= link_to 'Перейти к тестированию',{:controller=>:testsessions,:action=>:new},:class=>'actionbutton' %>
        
      -->
     

<% else %>
	<h1>Вход</h1>

        <%= form_tag :controller=>:sessions,:action=>:create do -%>
        <p><%= label_tag 'login' %><br />
        <%= text_field_tag 'login', @login %></p>

        <p><%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil %></p>
        

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Запомнить меня' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

        <p><%= submit_tag 'Войти' %></p>
        <p><%= link_to 'Зарегистрироваться', :signup,:class=>"actionbutton" %></p>
	<% end %>
<% end%>
        

<br/>
</div>
