<% content_for :head do %>
<style type="text/css">
  .icons { padding: 4px 4px;  display: inline-block; width:5px;vertical-align: middle; margin: 2px;}
  .icons span.ui-icon {}
  .ua{display: inline-block; width:17px; height: 100%; vertical-align: middle;text-align: center; margin: 2px;}
  .answ{display: inline-block;vertical-align: middle; height: 100%;text-indent: 1em;}
</style>
 <script language="javascript" type="text/javascript">
    $(function(){

   $("#accordion").accordion({ header: "h3" });
  });


  </script>

<%end%>


<div class="ui-widget">
  <div class="ui-widget-header ui-corner-all" style="padding: 8px 30px; ">
    Отчет
  </div>
  <div class="ui-widget-content ui-corner-all" style="padding: 8px 30px; ">
    Тестируемый: <br/>
    Дата тестирования: <%= @ts.created_at.day %>.<%= @ts.created_at.month %>.<%= @ts.created_at.year %><br/>
    Процент решенных заданий: <%= @percent %> %<br/>
    <h2 style="color:<%=@color%>; display:inline;">Оценка: <%= @mark %></h2><br/>
    <h2 style="color:<%=@color%>; display:inline;"><%= @zachet %></h2><br/>
  </div>
</div>

<% @i=1 %>
<div id="accordion">
<%@reports.each do |t|%>
  <div class="ui-widget ui-corner-all ui-state-active"><h3 >

    <% if t.right=='+' %>
      <div class="ui-widget-header ui-corner-all" style="padding: 8px 30px; ">
    <% else %>
     <div class="ui-widget-header ui-corner-all ui-state-error" style="padding: 8px 30px;">
    <%end %>


  <%= @i.to_s+". " %>
  <% @i+=1 %>
  <%= t.question %>
  </div></h3>
  <div class="ui-widget-content ui-corner-all">
  <%case t.type %>
    <%when 6%>
      <% t.answorder.each do |a| %>
        <% @class="ui-state-content ui-corner-all" %>
        <% @iconclass="" %>
        <% @ua=false %>
        <%  if a==t.answorder[t.useransw] %>
          <% @class="ui-state-error ui-corner-all"%>
         <% @ua=true %>
          <% @iconclass="ui-icon ui-icon-circle-close" %>
        <%end%>
        <% if t.rightansw==a %>
          <%  if a==t.answorder[t.useransw] %>
             <% @class="ui-state-highlight ui-corner-all" %>
             <% @iconclass="ui-icon ui-icon-check" %>
          <%  else %>
             <% #  @class="ui-state-error ui-corner-all" %>
             <% @iconclass="ui-icon ui-icon-circle-close" %>
          <% end %>
        <%end%>
        
        <div class="<%= @class %>" style=" padding: 3px 0px; display: block;width: 100%; vertical-align:top;">
          <div class="icons">
            <span class="<%=@iconclass %>"/>
          </div>
          <div class="ua">
            <input type="radio" <%="checked" if @ua%>/>
          </div>
          <div class="answ">
          <%= t.answers[a].content %>
          </div>
        </div>
      <% end %>
    <%when 7%>
      <% t.answorder.each_index do |i| %>
        <% @ua=false %>
        <% @class="ui-widget-content ui-corner-all" %>
        <% @iconclass="" %>
        <%  if t.useransw.include?(i.to_s) %>
           <%  @class="ui-state-error ui-corner-all" %>
           <% @iconclass="ui-icon ui-icon-circle-close" %>
           <% @ua=true %>
        <%end%>
        <% if t.rightansw.include?(t.answorder[i]) %>
          <%  if t.useransw.include?(i.to_s) %>
             <% @class="ui-state-highlight ui-corner-all" %>
             <% @iconclass="ui-icon ui-icon-check" %>
          <%else%>
             <% # @class="ui-state-error ui-corner-all" %>
             <% @iconclass="ui-icon ui-icon-check" %>
          <%  end %>
        <%end%>
        <div class="<%= @class %>" style="display: inline-block;width: 100%;padding: 3px 0px;">
          <div class="icons " style="">
            <span class="<%=@iconclass %>"/>
          </div>
           <div class="ua">
            <input type="checkbox" <%="checked" if @ua%>/>
           </div>
          <div class="answ">
            <%= t.answers[t.answorder[i]].content %>
          </div>
        </div>
      <% end %>
     <%when 8%>
        <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
          Ответ пользователя:
        </div>
        <% @iconclass="" %>
        <% if t.right=="+" %>
          <% @class="ui-state-highlight ui-corner-all" %>
          <% @iconclass="ui-icon ui-icon-check"%>
        <% else %>
          <% @class="ui-state-error ui-corner-all" %>
          <% @iconclass="ui-icon ui-icon-circle-close" %>
        <% end %>
        <div class="<%= @class %>" style="padding: 3px 0px;">
          <div class="icons " style="">
            <span class="<%=@iconclass %>"/>
          </div>
          <div class="answ">
            <%= t.useransw %>
          </div>
        </div>
        <div>
           <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
            Возможные варианты ответа:
           </div>
           <% t.answers.each do |k,v| %>
          <div class="ui-state-highlight ui-corner-all" style="text-indent: 1em; padding: 8px 5px;">
              <%= v.content %>
            </div>
           <% end %>
        </div>
     <%when 9%>
      <div style="display: inline-block;width: 49%;vertical-align: top;">
      <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
          Ответ пользователя:
      </div>
      <% t.useransw.each do |pp| %>
      <%if pp.right%>
        <% @class="ui-state-highlight ui-corner-all" %>
      <%else%>
        <% @class="ui-state-error ui-corner-all" %>
      <%end%>
      <div class="<%=@class%>" style="padding: 0px 5px;">
        <%= pp.a1 %><br/>
        <%= pp.a2 %><br/>
      </div>
      <% end %>
      </div>
      <div style="display: inline-block;width: 49%;">
        <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
          Правильный ответ:
        </div>
      <% t.rightansw.each do |pp| %>
      <div class="ui-state-highlight ui-corner-all" style="padding: 0px 5px;">
        <%= pp.a1 %><br/>
        <%= pp.a2 %><br/>
      </div>
      <% end %>
      </div>
    <%when 10%>
      <div style="display: inline-block;width: 49%;vertical-align: top;">
      <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
          Ответ пользователя:
      </div>
      <% t.useransw.each_index do |i| %>
        <%if t.useransw[i].content==t.rightansw[i].content%>
          <% @class="ui-state-highlight ui-corner-all" %>
        <%else%>
          <% @class="ui-state-error ui-corner-all" %>
        <%end%>
        <div class="<%=@class%>" style="padding: 8px 5px;">
          <%= t.useransw[i].content %>
        </div>
      <% end %>
      </div>
      <div style="display: inline-block;width: 49%;">
        <div class="ui-widget-header ui-corner-all" style="padding: 8px 5px;">
          Правильный ответ:
        </div>
      <% t.rightansw.each do |pp| %>
      <div class="ui-state-highlight ui-corner-all" style="padding: 8px 5px;">
        <%= pp.content %>
      </div>
      <% end %>
      </div>


  <%end%>
  </div>
</div>


<% end %>
</div>
