<%= content_for :head do %>

<style type="text/css">
	span a {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;display: inline;}
        .mycell{display:inline-block; vertical-align: middle; color: black; font-weight: normal;  word-wrap: break-word;font-size: small;}
        .header{padding: 6px 0; text-indent: 1em;}
        .paginate{display: inline-block;width:30%; text-align: right; padding: 8px;}
</style>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>
<%= content_for :secondmenu do %>
  <%= link_to 'Простой поиск', {:controller=>:report,:action=>:new_report},:class=>"actionbutton"%>
  
  <%= link_to 'Расширенный поиск', {:controller=>:report,:action=>:adv_search_report},:class=>"actionbutton"%>
  <%= link_to 'Просмотр отчетов', {:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum)})),:class=>"actionbutton",:id=>:active %>
<%end%>

<div style="width:100%;text-align: right;">
<div class="paginate">
  Страница <%= @pagenum %> из <%= @pagecount %>.
  Номера: <%=  link_to '1',{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>'1'})) if @pagenum>2 %>
  <%=  link_to '2',{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>'2'})) if @pagenum>3 %>
  <%= '...' if @pagenum>4 %>
  <%=  link_to (@pagenum-1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})) if @pagenum>=2 %>
  <%=  link_to (@pagenum).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum)})) %>
  <%=  link_to (@pagenum+1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})) if @pagenum<@pagecount %>
  <%= '...' if @pagenum<@pagecount-3 %>
  <%=  link_to (@pagecount-1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})) if @pagenum<@pagecount-2 %>
  <%=  link_to (@pagecount).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})) if @pagenum<@pagecount-1 %>
</div>
</div>


<div class="ui-widget" style="width:100%;">
   <div class="ui-widget-header ui-corner-top" >
      <span style="width: 35%; " class="header mycell">Пользователь</span>
      <span style="width: 19%; " class="header mycell">Тест</span>
      <span style="width: 27%; " class="header mycell">Оценка</span>
      <span class="header mycell"></span>
   </div>
<% @class="ui-state-default" %>

<% i=0 %>
<%  @sessions.each do |t| %>
<%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
  <div class="<%=@class%>" >
    <span class="mycell" style="padding: 0px 0; width: 35%; font-weight: normal; color: black;">
      <% us=[t.F,t.I,t.O].join(' ')  %>
      <div><%= link_to(us,{:controller=>:users,:action=>:show,:id=>t.user_id},:style=>'float:none; background:none; border:none; font-wieght:normal; text-decoration:none;') %></div>
    </span>
    <span class="mycell" style="padding: 6px 0; width: 19%; text-indent: 1em;font-weight: normal; color: black;">
      <%= t.Name %>
    </span>
    <span class="mycell" style="padding: 6px 0; width: 27%; text-indent: 1em;font-weight: normal; color: black;">
      <%=  t.mark %>,
      <%  if t.mark&&t.mark>2 %>
        <%= 'Зачтено' %>
      <% else %>
        <%= 'Не зачтено' %>
      <% end %>, <%= ((t.percent*100).to_i.to_f/100.00).to_s+"%" if t.percent%>
      <% #i+=1 %>
    </span>
    <span class="mycell" style="width: 17%;">

        <%= link_to tag("span",{:class=>"ui-icon ui-icon-document"}),{:controller=>:report,:action=>:createdetailreport,:id=>t.id,:userid=>t.user_id},:class=>"ui-state-default ui-corner-all",:title=>"Показать" %>
    </span>
  </div>
<% end %>
<%if @class=="ui-widget-content"%>
  <% @class="ui-state-default" %>
<%else%>
  <% @class="ui-widget-content" %>
<%end%>
  <div class="<%=@class%> ui-corner-bottom" style="text-align: right;" >
    <div class="paginate">
      Страница <%= @pagenum %> из <%= @pagecount %>.
      Номера: <%=  link_to '1',{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>'1'})) if @pagenum>2 %>
      <%=  link_to '2',{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>'2'})) if @pagenum>3 %>
      <%= '...' if @pagenum>4 %>
      <%=  link_to (@pagenum-1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum-1).to_s})) if @pagenum>=2 %>
      <%=  link_to (@pagenum).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum)})) %>
      <%=  link_to (@pagenum+1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagenum+1)})) if @pagenum<@pagecount %>
      <%= '...' if @pagenum<@pagecount-3 %>
      <%=  link_to (@pagecount-1).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagecount-1).to_s})) if @pagenum<@pagecount-2 %>
      <%=  link_to (@pagecount).to_s,{:controller=>:report,:action=>:create_report}.update(@parametrs.merge({:pagenum=>(@pagecount).to_s})) if @pagenum<@pagecount-1 %>
    </div>
  </div>
</div>