
<h1>Listing configuration_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @configuration_types.each do |configuration_type| %>
  <tr>
    <td><%= configuration_type.Name %></td>
    <td><%= link_to tag("span",{:class=>"ui-icon ui-icon-search"}), configuration_type,:class=>"ui-state-default ui-corner-all",:title=>"Показать" %></td>
    <td><%= link_to tag("span",{:class=>"ui-icon ui-icon-pencil"}), edit_configuration_type_path(configuration_type),:class=>"ui-state-default ui-corner-all",:title=>"Редактировать"  %></td>
    <td><%= link_to tag("span",{:class=>"ui-icon ui-icon-trash"}), configuration_type, :confirm => 'Are you sure?', :method => :delete , :class=>"ui-state-default ui-corner-all",:title=>"Удалить"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Configuration type', new_configuration_type_path,:class=>"actionbutton" %>
