<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#active').addClass("ui-state-active");
  });
</script>
<%end%>

<%= content_for :secondmenu do %>

  <%= link_to 'Редактировать', edit_education_path(@education),:class=>:actionbutton,:id=>'active' %>

<% end %>


<p id="notice"><%= notice %></p>
<h2>Редактировать название раздела:</h2>
<%= render "form" %>
