<%= form_for(@qtype) do |f| %>
  <% if @qtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qtype.errors.count, "error") %> prohibited this qtype from being saved:</h2>

      <ul>
      <% @qtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
