<!DOCTYPE html>
<html>
<head>
  <title>A3</title>
  <%= stylesheet_link_tag :all %>
  <link href="/stylesheets/redmond/jquery-ui-1.8.13.custom.css" type="text/css" rel="stylesheet"/>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 
  <%= yield :head %>
  <script language="javascript" type="text/javascript">
    $(function(){
      $("a.actionbutton,  input:submit, input:reset, button").button();
      $('a.actionbutton, .body .micon a').hover(
					function() {
                                          if(!$(this).hasClass("ui-state-active"))
                                            $(this).addClass('ui-state-hover');
                                          //$(this).css('color','white');
                                          },
					function() {
                                          if(!$(this).hasClass("ui-state-active"))
                                            $(this).removeClass('ui-state-hover');
                                          //$(this).css('color','#654B24');
                                          $('#active').addClass('ui-state-active');
                                          $('.actbutton').addClass('ui-state-active');
                                          });


   $("#accordion").accordion({ header: "h3" });
  var activeitem="<%= if @ai then @ai else '#item1' end%>";
  $(activeitem).removeClass("ui-state-default");
  $(activeitem).addClass("ui-state-active");
  $('.menu1.ui-state-default').removeClass(" ui-corner-top ");
  $('.menu1.ui-state-active').css("border-bottom-color","white")
  $('.menu1.ui-state-default').addClass("ui-state-default ui-corner-top ");
  //$('.menu1').css('border','0px');
  $('.menu1.ui-state-default').hover(function(){
    $(this).removeClass("ui-state-default ui-corner-top ");
    $(this).addClass("ui-state-hover ui-corner-top ");
    //$(this).css('border','0px');
  }, function(){

    $(this).removeClass("ui-state-hover ui-corner-top ");
    $(this).addClass("ui-state-default ui-corner-top ");
    //$(this).css('border','0px');
  });

  $('#help').dialog({ autoOpen:false,height:500,width:800,buttons: {
				"OK": function() {
					$( this ).dialog( "close" );
				}}});
  $('#helpbutton').click(function(){
    $( "#help" ).dialog( "open" );
  });
  });

  </script>
  <style>
    a span.ui-icon {float: left; margin: 0 4px;}
    </style>
</head>
<body class="ui-widget">





<!-- 
<div class="menu ">
    <%= yield :menu  %>
   <ul class="ui-state-highlight ui-corner-all">
          <li><%=link_to 'Главная',:root%></li>

          <li>|<%= render :partial =>"users/user_bar" %></li>
    </ul>
 </div>-->

<div id="page" class="ui-widget-content ui-corner-top" >


     <div  class="ui-tabs ui-widget-header ui-corner-top" style="border-bottom-width: 0px; padding: 0px;" id="menu1" >
       <% unless @is_test %>
       <div style="text-align: left; text-indent: 1em; padding-top: 1em;width: 100%; ">
         <div style="display: inline-block;width: 15%;"><%=image_tag "gerb.png"%></div>
         <div style="display: inline-block;width: 55%; text-indent: 0;">
           <div style="font-size: 18pt;font-variant: small-caps;">
             КОМПЕЛКС ТЕСТИРОВАНИЯ ГОСУДАРСТВЕННЫХ И МУНИЦИПАЛЬНЫХ СЛУЖАЩИХ
           </div>
           <div style="font-size: 13pt;font-variant: small-caps; ">
             российская академия народного хозяйства и государственной службы при президенте российской федерации <br/>филиал в городе оренбурге
           </div>
         </div>
         <div  style="display: inline-block;width: 26%; text-indent: 0;vertical-align: top; height: 130px;"><%= render :partial =>"testsessions/userenter" %></div>
       </div>
       <% end %>
 
       <ul style="vertical-align: bottom; border-bottom-width: 0px;padding: 1em 2em 0px;" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ">
          <li ><%= link_to "Тестирование", root_url,:class=>"menu1 ui-state-default ui-corner-top",:id=>"item1" %></li>
          <% if logged_in? %>
            <li ><%= link_to 'Отчеты',{:controller=>:report,:action=>:new_report},:class=>"menu1 ui-state-default ui-corner-top",:id=>"item5" %></li>
          <% end %>
          <% if current_user&&current_user.is_admin? %>
            <li ><%= link_to "Разделы", disciplines_path,:class=>"menu1 ui-state-default ui-corner-top",:id=>"item2" %></li>
            <li ><%= link_to 'Конфигурации',tconfigurations_path,:class=>"menu1 ui-state-default ui-corner-top",:id=>"item3" %></li>
          <% end %>
          <% if current_user&&current_user.is_admin? %>
          <li ><%= link_to 'Управление',users_url,:class=>"menu1 ui-state-default ui-corner-top",:id=>"item4" %></li>
          
          <% end %>

          <%= yield :tabs %>
        </ul>
     </div>
<% if @secondmenu %>
  <div class="ui-widget-content" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; padding:.3em 2em ;">
    <%= yield :secondmenu %>

  </div>
      <!-- <div class="wraper"></div>-->
<% end %>
 <div id ="left-pad">

   <div class="body" style="">
    <%= yield %>
    </div></div>

  </div>

</body>
</html>
